body {
    max-width: 90rem;
    margin: 8rem auto 0;
    background-color: #62a095;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 125%;
}

img {
    max-width: 30rem;
    margin-bottom: 10px;
}

/* Button CSS */
button {
    margin-left: 10px;
}

.btn:hover {
    color: white;
}

.btn:disabled,.btn[disabled] {
    color: #666666;
}

.searchResult .btn {
    color: #25293a;
}

.nominees .btn {
    color: red;
}

/* For lists (results / nominations) */
li {
    margin-bottom: 0.75rem;
}

/* For titles in the cards */
.card-body p {
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.card-body .card-title {
    margin-bottom: 0.625rem;
}

/* For input */
.input-form {
    padding-left: 50px;
    font-weight: 300;
}

.input-wrapper {
    position: relative;
}

/* For front awesome search icon used */
.icon {
    position: absolute;
    left: 15px;
    top: calc(50% - 0.5em);
}

.search-nomination {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

/* For hiding the results until they're needed*/
.hidden {
    opacity: 0;
}

.header{
    text-align: center;
    padding-bottom: 10px;
    color:black;
}

/* Notice when the user nominates the maximum number of movies */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4c0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (max-width: 540px) {
    .search-nomination {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .search-nomination .card {
        margin-top: 1rem;
    }

}